<!doctype html>
<html>
<head>
    <title>Node Practice</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="root">
    <div ng-view>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/public/js/angularApp.js"></script>
</body>
</html>